body{
font-family: calibri;
font-size: 2em;

}

#myBtn{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
}

#myLabel{
font-size: 3em;
}
#mySubmit{
font-size: 1em;

}

